<!--
  Generated template for the ShowNewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>News room</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="{{newsData.urlToImage}}" />
  <h4>{{newsData.title}}</h4>
  <p>Published in: {{publishDate}}</p>
  <p>Author: <strong>{{newsData.author}}</strong></p>
  <p>
    Source:
    <a href="{{newsData.url}}">
      <strong>{{newsData.source.name}}</strong>
    </a>
  </p>

  {{ newsData.content }}
</ion-content>
