<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Countries</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    [(ngModel)]="searchItem"
    (input)="searchByName($event.target.value)"
  ></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let country of countryList; index as i" col-6>
        <ion-card
          *ngIf="country.alpha2Code !=='UM'"
          (click)="newsByCountryIso(country.alpha2Code,country.flag,country.name)"
        >
          <img src="{{ country.flag }}" />
          <ion-card-header>
            <ion-card-subtitle>{{ country.name }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
