// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu-inner .item {
  background: linear-gradient(#0f2027, #203a43, #2c5364);
  color: white;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}

.menu-inner > ion-header,
.menu-inner > ion-content,
.menu-inner > ion-footer {
  background: linear-gradient(#0f2027, #203a43, #2c5364);
}

.toolbar-title {
  color: #fff;
}
.header-md::after,
.tabs-md[tabsPlacement="top"] > .tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  background: orange !important;
  background-image: none !important;
}
.toolbar-background-md {
  background: linear-gradient(#0f2027, #203a43, #2c5364) !important;
}
.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
  color: white !important;
}
