<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title
      >{{countryName}}
      <ion-chip>
        <ion-avatar>
          <img src="{{countryFlag}}" />
        </ion-avatar>
      </ion-chip>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let news of newsList; index as i" (click)="showNews(i)">
    <img src="{{ news.urlToImage }}" />
    <ion-card-header>
      <ion-card-subtitle>{{ news.author }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ news.description }}
    </ion-card-content>
  </ion-card>
</ion-content>
